<div class="report-widget">
    <h3>Resumo do Sistema</h3>
    <div class="control-status-list">
        <ul>
            <li>
                <?php if ($numReservas == 0): ?>
                    <span class="status-icon warning"><i class="icon-exclamation"></i></span>
                    <span class="status-text warning">Não existem reservas cadastradas!</span>
                    <a href="<?= Backend::url('october/hos/reservas') ?>" class="status-label link">Reservas</a>
                <?php else: ?>
                    <span class="status-icon success"><i class="icon-check"></i></span>
                    <span class="status-text success">Reservas cadastradas.</span>
                    <a href="<?= Backend::url('october/hos/reservas') ?>" class="status-label primary"><?php echo $numReservas; ?></a>
                <?php endif ?>
            </li>

            <li>
                <?php if ($numProdutos == 0): ?>
                    <span class="status-icon warning"><i class="icon-exclamation"></i></span>
                    <span class="status-text warning">Você não possui produtos cadastrados!</span>
                    <a href="<?= Backend::url('october/cfe/produtos/create') ?>" class="status-label link">Cadastrar</a>
                <?php elseif ($numProdMinimo > 0): ?>
                    <span class="status-icon warning"><i class="icon-exclamation"></i></span>
                    <span class="status-text warning">Existem produtos abaixo da quantidade mínima!</span>
                    <a href="<?= Backend::url('october/cfe/produtos') ?>" class="status-label primary"><?php echo $numProdMinimo; ?></a>
                <?php else: ?>
                    <span class="status-icon success"><i class="icon-check"></i></span>
                    <span class="status-text success">Todos os produtos com quantidades corretas.</span>
                <?php endif ?>
            </li>

            <li>
                <?php if ($contasAtrasadas): ?>
                    <span class="status-icon warning"><i class="icon-exclamation"></i></span>
                    <span class="status-text warning">Existem contas atrasadas!</span>
                    <a href="<?= Backend::url('october/fin/lancamentos') ?>" class="status-label primary"><?php echo $contasAtrasadas; ?></a>
                <?php else: ?>
                    <span class="status-icon success"><i class="icon-check"></i></span>
                    <span class="status-text success">Todas as contas estão em dia!</span>
                <?php endif ?>
            </li>

            <li>
                <span class="status-icon"><i class="icon-info"></i></span>
                <span class="status-text">Produtos cadastrados</span>
                <a href="<?= Backend::url('october/cfe/produtos') ?>" class="status-label primary"><?php echo $numProdutos; ?></a>
            </li>

            <li>
                <span class="status-icon"><i class="icon-file-o"></i></span>
                <span class="status-text">Data da próxima reserva:</span>
                <span class="status-label link"><?= Backend::dateTime($dataReserva, ['formatAlias' => 'dateLong']) ?></span>
            </li>
            <?php if ($appBirthday): ?>
                <li>
                    <span class="status-icon"><i class="icon-calendar"></i></span>
                    <span class="status-text">
                        <?= e(trans('backend::lang.dashboard.status.app_birthday')) ?>
                    </span>
                    <span class="status-label link"><?= Backend::dateTime($appBirthday, ['formatAlias' => 'dateLong']) ?></span>
                </li>
            <?php endif ?>
        </ul>
    </div>
</div>