<div class="toolbar-widget list-header" id="Toolbar-listToolbar">
    <div class="control-toolbar">

        <!-- Control Panel -->
        <div class="toolbar-item toolbar-primary">
            <div data-control="toolbar" data-disposable="">
                <a href="http://localhost/erp.4tech.mobi/backend/october/mot/relatoriosdiarios/realizaParcial"
                    class="btn btn-primary oc-icon-list">Fechamento Parcial</a>
                <a href="http://localhost/erp.4tech.mobi/backend/october/mot/relatoriosdiarios/realizaDefinitivo"
                    class="btn btn-default oc-icon-list">Fechamento Definitivo</a>
            </div>
        </div>

    </div>
</div>

<div class="list-widget list-scrollable-container" id="Lists">
    <div class="control-list list-scrollable" data-control="listwidget">
        <table class="table data" data-control="rowlink">
            <thead>
                <tr>
                    <th style="width: 85px" class="sort-desc active list-cell-name-id list-cell-type-text"><a>Quarto</a></th>
                    <th class="sort-desc list-cell-name-quarto list-cell-type-text"><a>Entrada</a></th>
                    <th class="sort-desc list-cell-name-valor list-cell-type-text"><a>Pedido</a></th>
                    <th class="sort-desc list-cell-name-entrada list-cell-type-text"><a>Hospedagem</a></th>
                    <th class="sort-desc list-cell-name-entrada list-cell-type-text"><a>Desconto</a></th>
                    <th class="sort-desc list-cell-name-saida list-cell-type-text"><a>Recebido</a></th>
                    <th class="sort-desc list-cell-name-saida list-cell-type-text"><a>Forma Pgto.</a></th>
                </tr>
            </thead>
            <tbody>
                <?php  $array_pgto = [];
                foreach($reserva as $reserv): ?>
                    <tr class="rowlink">
                        <td class="list-cell-index-1 list-cell-name-id list-cell-type-number">
                            <a href="http://localhost/erp.4tech.mobi/backend/october/mot/relatoriosquartos/update/13" style="display: none;">
                            <?php echo $reserv->numero; ?> </a>
                        </td>
                        <td class="list-cell-index-2 list-cell-name-quarto list-cell-type-text">
                            <?php echo $reserv->entrada; ?> </td>
                        <td class="list-cell-index-3 list-cell-name-valor list-cell-type-text">
                            <?php echo $reserv->valor_produtos; ?> </td>
                        <td class="list-cell-index-4 list-cell-name-entrada list-cell-type-text">
                            <?php echo $reserv->valor_estadia; ?> </td>
                        <td class="list-cell-index-4 list-cell-name-entrada list-cell-type-text">
                            <?php echo $reserv->valor_desconto; ?> </td>
                        <td class="list-cell-index-4 list-cell-name-entrada list-cell-type-text">
                            <?php echo $reserv->valor; ?> </td>
                        <td class="list-cell-index-5 list-cell-name-saida list-cell-type-text">
                            <?php echo $reserv->forma_pgto; ?> </td>
                    </tr>
                    <?php 
                        if(!empty($reserv->forma_pgto)): 
                            if(!isset($array_pgto[$reserv->forma_pgto])):
                                $array_pgto[$reserv->forma_pgto] = $reserv->valor;
                            else:
                                $array_pgto[$reserv->forma_pgto] += $reserv->valor; 
                            endif;
                        endif;
                    ?>
                <?php endforeach; ?>
            </tbody>
        </table>

        <table class="table data" data-control="rowlink">
            <thead>
                <tr>
                    <th class="sort-desc list-cell-name-id list-cell-type-text"><a>Nº Hospedagens </a></th>
                    <th class="sort-desc list-cell-name-quarto list-cell-type-text"><a>Valor Pedidos </a></th>
                    <th class="sort-desc list-cell-name-valor list-cell-type-text"><a>Valor Hospedagens </a></th>
                    <th class="sort-desc list-cell-name-entrada list-cell-type-text"><a>Valor Desconto </a></th>
                    <th class="sort-desc list-cell-name-entrada list-cell-type-text"><a>Valor Recebido </a></th>
                </tr>
            </thead>
            <tbody>
                <?php  foreach($reserva_total as $total): ?>
                    <tr class="rowlink">
                        <td class="list-cell-index-2 list-cell-name-quarto list-cell-type-text"><?php echo $total->quantidade; ?> </td>
                        <td class="list-cell-index-3 list-cell-name-valor list-cell-type-text"><?php echo $total->pedidos; ?> </td>
                        <td class="list-cell-index-4 list-cell-name-entrada list-cell-type-text"><?php echo $total->hospedagem; ?> </td>
                        <td class="list-cell-index-4 list-cell-name-entrada list-cell-type-text"><?php echo $total->desconto; ?> </td>
                        <td class="list-cell-index-4 list-cell-name-entrada list-cell-type-text"><?php echo $total->recebido; ?> </td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>

        <table class="table data" data-control="rowlink">
            <thead>
                <tr>
                    <th class="sort-desc list-cell-name-id list-cell-type-text"><a>Tipo de Quarto </a></th>
                    <th class="sort-desc list-cell-name-quarto list-cell-type-text"><a>Quantidade </a></th>
                    <th class="sort-desc list-cell-name-quarto list-cell-type-text"><a>Valor Pedidos </a></th>
                    <th class="sort-desc list-cell-name-valor list-cell-type-text"><a>Valor Hospedagens </a></th>
                    <th class="sort-desc list-cell-name-valor list-cell-type-text"><a>Valor Desconto </a></th>
                    <th class="sort-desc list-cell-name-valor list-cell-type-text"><a>Valor Recebido </a></th>
                </tr>
            </thead>
            <tbody>
                <?php  foreach($reserva_quartos as $quartos): ?>
                    <tr class="rowlink">
                        <td class="list-cell-index-1 list-cell-name-quarto list-cell-type-text"><?php echo $quartos->nome; ?> </td>
                        <td class="list-cell-index-2 list-cell-name-quarto list-cell-type-text"><?php echo $quartos->quantidade; ?> </td>
                        <td class="list-cell-index-3 list-cell-name-valor list-cell-type-text"><?php echo $quartos->pedidos; ?> </td>
                        <td class="list-cell-index-4 list-cell-name-entrada list-cell-type-text"><?php echo $quartos->hospedagem; ?> </td>
                        <td class="list-cell-index-4 list-cell-name-entrada list-cell-type-text"><?php echo $quartos->desconto; ?> </td>
                        <td class="list-cell-index-4 list-cell-name-entrada list-cell-type-text"><?php echo $quartos->recebido; ?> </td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
        <table class="table data" data-control="rowlink">
            <thead>
                <tr>
                    <th class="sort-desc list-cell-name-id list-cell-type-text" colspan="2" style="text-align: center;"><a>Relação de Hospedagem</a></th>
                </tr>
            </thead>
            <tbody>
                <tr class="rowlink">
                    <td class="list-cell-index-1 list-cell-name-quarto list-cell-type-text" style="width: 200px;">Entrada</td>
                    <td class="list-cell-index-2 list-cell-name-quarto list-cell-type-text"><?php echo $entrada; ?> </td>
                </tr>
                <tr class="rowlink">
                    <td class="list-cell-index-1 list-cell-name-quarto list-cell-type-text" style="width: 200px;">Anterior</td>
                    <td class="list-cell-index-2 list-cell-name-quarto list-cell-type-text"><?php echo $anterior; ?> </td>
                </tr>
                <tr class="rowlink">
                    <td class="list-cell-index-1 list-cell-name-quarto list-cell-type-text" style="width: 200px;">Casa/Passante</td>
                    <td class="list-cell-index-2 list-cell-name-quarto list-cell-type-text"><?php echo $passante; ?> </td>
                </tr>
                <tr class="rowlink">
                    <td class="list-cell-index-1 list-cell-name-quarto list-cell-type-text" style="width: 200px;">Pagos/Saídas</td>
                    <td class="list-cell-index-2 list-cell-name-quarto list-cell-type-text"><?php echo $pagos; ?> </td>
                </tr>
                <?php if($pagos > 0): ?>
                <tr class="rowlink">
                    <td class="list-cell-index-1 list-cell-name-quarto list-cell-type-text" style="width: 200px;"></td>
                    <td class="list-cell-index-2 list-cell-name-quarto list-cell-type-text">
                        <table class="table data" data-control="rowlink">
                            <tbody>
                                <?php  foreach($pagos_quartos as $pagos_qt): ?>
                                <tr class="rowlink">
                                    <td style="width: 100px;"><?php echo $pagos_qt->nome; ?></td>
                                    <td><?php echo $pagos_qt->quantidade; ?></td>
                                </tr>
                                <?php endforeach; ?>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <?php endif; ?>
            </tbody>
        </table>
        <table class="table data" data-control="rowlink">
            <thead>
                <tr>
                    <th class="sort-desc list-cell-name-id list-cell-type-text" colspan="2" style="text-align: center;"><a>Forma de Pagamento</a></th>
                </tr>
            </thead>
            <tbody>
                <?php 
                    $total = 0;
                    foreach($array_pgto as $key => $value): 
                    $total += $value; 
                ?>
                    <tr class="rowlink">
                        <td class="list-cell-index-1 list-cell-name-quarto list-cell-type-text" style="width: 200px;"><?php echo $key; ?></td>
                        <td class="list-cell-index-2 list-cell-name-quarto list-cell-type-text"><?php echo $value; ?> </td>
                    </tr>
                <?php endforeach; ?>
                <tr class="rowlink">
                    <td class="list-cell-index-1 list-cell-name-quarto list-cell-type-text" style="width: 200px;">TOTAL</td>
                    <td class="list-cell-index-2 list-cell-name-quarto list-cell-type-text"><?php echo $total; ?> </td>
                </tr>
            </tbody>
        </table>        
        <table class="table data" data-control="rowlink">
            <thead>
                <tr>
                    <th class="sort-desc list-cell-name-id list-cell-type-text" colspan="2" style="text-align: center;"><a>Movimento de Caixa</a></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach($movimentos as $mov): ?>
                    <tr class="rowlink">
                        <td class="list-cell-index-1 list-cell-name-quarto list-cell-type-text" style="width: 200px;"><?php echo $mov->nome; ?></td>
                        <td class="list-cell-index-2 list-cell-name-quarto list-cell-type-text"><?php echo $mov->valor; ?> </td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
        <div class="list-footer">
            <div class="list-pagination">
                <div class="loading-indicator-container size-small pull-right">
                    <div class="control-pagination">
                        <span class="page-iteration">
                            <?php echo "Data/Hora: ".$data." - ".$hora; ?></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>