<div class="row">
    <?php  foreach($reserva as $reserv): ?>
    <div class="col-lg-2 col-md-3 col-sm-4">
        <?php 
        switch ($reserv->status) {
            case 0:
                $style = ' style="color: red; margin-top: 20px; cursor: pointer; box-shadow: 0 2px 3px rgba(255, 0, 0, 0.5), 0 0 0 1px rgba(255, 0, 0, 0.32); " ';
                $color = ' style="color: red" ';
                $status_name = 'Ocupado';
                break;
            case 1:
                $style = ' style="color: green; margin-top: 20px; cursor: pointer; box-shadow: 0 2px 3px rgba(0, 255, 0, 0.5), 0 0 0 1px rgba(0, 255, 0, 0.32); " ';
                $color = ' style="color: green;" ';
                $status_name = 'Liberado';
                break;
            case 3:
                $style = ' style="background: #c8ffc8;" ';
                break;
        }
        ?>
        
        <div class="card" <?php echo $style." onclick=\"RealizarReserva(".$reserv->status.", ".$reserv->numero.", ".$reserv->id.")\""; ?> >
            <!-- <header class="card-header">
                <p class="card-header-title"></p>
                <a href="javascript:;" onclick="forceCommand()" class="card-header-icon" aria-label="more options">
                    <span class="icon">
                        <i class="fas fa-redo-alt" aria-hidden="true"></i>
                    </span>
                </a>
            </header> -->
            <div class="card-content" align="center" style="height: 70px;">
                <p class="subtitle">
                    <span class="badge badge">Quarto <?php echo $reserv->numero; ?></span>
                </p>
                <!-- <p style="text-align: center; font-size: 16px;">
                    <b><?php echo $status_name; ?></b> <br>
                    <span class="badge badge-warning"></span>

                </p> -->
            </div>
            <footer class="card-footer" align="center">
                <p class="card-footer-item">
                    <span>
                        <b>Iniciou</b><br>
                        <?php if($reserv->status){
                            echo ":";
                        }else{
                            echo date('H:i', strtotime($reserv->entrada));
                        } ?>
                    </span>
                </p>
                <p class="card-footer-item">
                    <span>
                        <!-- <a href="#" class="btn btn-primary">Utilizar</a> -->
                        <b><?php echo $status_name; ?></b>
                    </span>
                </p>
            </footer>
        </div>
        <!--  -->
    </div>
    <?php endforeach; ?>
</div>


<img id="displayBox" src="https://alpes.one/assets/img/loading-alpes.gif"  style="display:none" />

<script type="text/javascript">
/* 	$(function(){
		setInterval(function(){
			window.location.reload();
		},300000);
	});

	function forceCommand(name, command){
		$.request('onForceCommand', {
			data: {
				command: command
			},
		    confirm: `Deseja executar a rotina: ${name}`,
		    success: function() {
		       window.location.reload();
		    }
		})
	}

	$(document).ajaxStart(function(){ 
	   	$.blockUI({ 
		    message: $('#displayBox'), 
		    css: { 
		        top:  ($(window).height() - 400) /2 + 'px', 
		        left: ($(window).width() - 400) /2 + 'px', 
		    } 
		}); 
	});

	$(document).ajaxStop(function(){ 
	    $.unblockUI();	   	  
	});
 */
 function RealizarReserva(acao, quarto, reserva_id = 0){
    switch (acao) {
    case 0:
        var result = confirm('Deseja realmente FINALIZAR o quarto '+quarto+'?');
        if(result) {
            $.post('http://localhost/erp.4tech.mobi/backend/october/mot/reservas/update/' + reserva_id + '/2', {quarto: quarto}, function(json){
                window.location.assign('http://localhost/erp.4tech.mobi/backend/october/mot/reservas/update/' + reserva_id);
            });
        }
        break;
    case 1:
        var result = confirm('Deseja realmente UTILIZAR o quarto '+quarto+'?');
        if(result) {
            $.post('http://localhost/erp.4tech.mobi/backend/october/mot/reservas/update/0/1', {quarto: quarto}, function(json){
                window.location.reload();
            });
            //seria interessante criar uma nova rota para agilizar este processo
        }
        break;
    }    
 }
</script>