<div id="score">

    <div class="scoreboard">
        <div data-control="toolbar">        
    
            <div class="scoreboard-item title-value">
                <h4>Quartos ocupados</h4>
                <p style="font-weight: bold;" class="success"><?= isset($quartos) ? $quartos : 0 ?></p>
            </div>
    
            <div class="scoreboard-item title-value">
                <h4>R$ Total Parcial</h4>
                <p style="font-weight: bold;" class="success"><?php echo isset($total) ? $total : '0,00' ?></p>              
            </div>            
    
        </div>
    </div>
    
    
    </div>
<?= $this->listRender() ?>
