<div class="row">
    {% for page in pages.pages %}
        {% for link in page.links %}    
            <div class="col-sm-4">
                <div class="services">
                    <div class="service-item">
                        <i class="fa fa-gear"></i>
                        <div class="service-desc">
                            <h5>{{ link.icon }}</h5>
                            <p>{{ link.link }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}    
    {% endfor %}    
</div>
