subject = "O produto {{ produto }} está acabando!"
==

Hi {{ name }},

Good news! User {{ user }} just added your product "{{ product }}" to a project.

This message was sent using no formatting (plain text)
==

<p>Olá,</p>

<p>{% if qtd_atual > 1 %} Existem {% else %} Existe {% endif %}apenas <strong>{{ qtd_atual }} {{ produto }}</strong> em estoque, abaixo da quantidade mínima cadastrada ( {{ qtd_min }} )!</p>