<div class="layout-row">
    <form method="POST" action="" accept-charset="UTF-8" class="layout">
        <input name="_token" type="hidden" class="token" value="">
        <input name="Reserva[id]" type="hidden" value="<?php echo $this->params[0]; ?>">
        <div class="layout-row">
            <div data-control="formwidget" data-refresh-handler="form::onRefresh"
                class="form-widget form-elements layout" role="form" id="Form" data-disposable="">
                <!-- Primary Tabs -->
                <div class="layout-row">
                    <?php if($sucesso): ?>
                    <p data-control="flash-message" data-interval="5" class="success">
                        CheckIn foi atualizado com sucesso!
                    </p>
                    <?php endif; ?>                    
                    <div id="Form-primaryTabs" class="control-tabs primary-tabs layout has-tabs" data-control="tab"
                        data-slidable="">
                        <div class="layout-row min-size">
                            <ul class="nav nav-tabs" data-disposable="">
                                <li class="active">
                                    <a href="#primarytab-1" data-target="#tabs14532-tab-01595380330987"
                                        data-toggle="tab" title="Geral"><span class="title"><span>Hospedagem</span></span></a>
                                    <span class="tab-close"><i>×</i></span></li>
                            </ul>
                        </div>

                        <div class="tab-content layout-row">
                            <div class="tab-pane  active layout-cell" id="tabs14532-tab-01595380330987">
                                <div class="col-md-3 p-l-0">
                                    <div class="form-group text-field " data-field-name="nome"
                                        id="Form-field-FichaCadastro-nome-group"><label for="Form-field-FichaCadastro-nome">
                                            Quarto </label>
                                        <input type="text" id="Form-field-FichaCadastro-nome" value="<?php echo $acomodacao; ?>"
                                            class="form-control" autocomplete="off" maxlength="255" disabled></div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group text-field" data-field-name="nome"
                                        id="Form-field-FichaCadastro-nome-group"><label for="Form-field-FichaCadastro-nome">
                                            Nº Acompanhantes </label>
                                        <input type="text" name="Reserva[numero_acompanhantes]" id="Form-field-FichaCadastro-nome" value="<?php echo $acompanhantes; ?>"
                                            class="form-control" autocomplete="off" maxlength="255"></div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group text-field " data-field-name="nome"
                                        id="Form-field-FichaCadastro-nome-group"><label for="Form-field-FichaCadastro-nome">
                                            Entrada </label>
                                        <input type="text" id="Form-field-FichaCadastro-nome" value="<?php echo $entrada; ?>"
                                            class="form-control" autocomplete="off" maxlength="255" disabled></div>
                                </div>
                                <div class="col-md-3 p-r-0">
                                    <div class="form-group text-field" data-field-name="cpf_cnpj"
                                        id="Form-field-FichaCadastro-cpf_cnpj-group"><label for="Form-field-FichaCadastro-cpf_cnpj">
                                            Saída </label>
                                        <input type="text" id="Form-field-FichaCadastro-cpf_cnpj"  value="<?php echo $saida; ?>"
                                            class="form-control" autocomplete="off" maxlength="255" disabled></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="Form-primaryTabs" class="control-tabs primary-tabs layout has-tabs" data-control="tab"
                        data-slidable="">
                    <div class="layout-row min-size">
                        <ul class="nav nav-tabs" data-disposable="">
                            <li class="active">
                                <a href="#primarytab-1" data-target="#tabs14532-tab-01595380330987"
                                    data-toggle="tab" title="Geral"><span class="title"><span>Hóspede</span></span></a>
                                <span class="tab-close"><i>×</i></span></li>
                        </ul>
                    </div>

                    <div class="tab-content layout-row">
                        <div class="tab-pane  active layout-cell row" id="tabs14909-tab-01603758355420">
                            <div class="form-group  text-field span-left">
                                <label for="Form-field-FichaCadastro-nome">Nome Completo </label>
                                <input type="text" name="FichaCadastro[nome]" id="Form-field-FichaCadastro-nome" value="<?php echo $nome; ?>"
                                    class="form-control" autocomplete="off" maxlength="255"></div>
                            <div class="form-group  text-field span-right">
                                <label for="Form-field-FichaCadastro-nome">Data de Nascimento </label>
                                <div id="DatePicker-formDtNascimento-dt_nascimento" class="field-datepicker" data-control="datepicker"
                                    data-show-week-number="" data-disposable="">
                                    <!-- Date -->
                                    <div class="input-with-icon right-align">
                                        <i class="icon icon-calendar-o"></i>
                                        <input type="text" id="DatePicker-formDtNascimento-date-dt_nascimento" class="form-control align-right"
                                            autocomplete="off" data-datepicker="">
                                    </div>
                                    <!-- Data locker -->
                                    <input type="hidden" name="FichaCadastro[dt_nascimento]" id="Form-field-FichaCadastro-dt_nascimento"
                                        value="<?php echo $dt_nascimento; ?>" data-datetime-value="">
                                </div>
                            </div>
                            <div class="col-md-3 p-l-0">
                                <div class="form-group text-field ">
                                    <label for="Form-field-FichaCadastro-nome">Profissão </label>
                                    <input type="text" name="FichaCadastro[profissao]" id="Form-field-FichaCadastro-nome" value="<?php echo $profissao; ?>"
                                        class="form-control" autocomplete="off" maxlength="255"></div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group text-field">
                                    <label for="Form-field-FichaCadastro-nome">Nacionalidade </label>
                                    <input type="text" name="FichaCadastro[nacionalidade]" id="Form-field-FichaCadastro-nome" value="<?php echo $nacionalidade; ?>"
                                        class="form-control" autocomplete="off" maxlength="255"></div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group text-field ">
                                    <label for="Form-field-FichaCadastro-nome">Sexo </label>
                                    <select name="FichaCadastro[sexo]" class="form-control custom-select select2-hidden-accessible">
                                        <option value=""></option>
                                        <option value="M" <?php echo ($sexo == 'M') ? 'selected' : '' ; ?> >Masculino</option>
                                        <option value="F" <?php echo ($sexo == 'F') ? 'selected' : '' ; ?> >Feminino</option>
                                    </select></div>
                            </div>
                            <div class="col-md-3 p-r-0">
                                <div class="form-group text-field">
                                    <label for="Form-field-FichaCadastro-cpf_cnpj">CPF </label>
                                    <input type="text" name="FichaCadastro[cpf_cnpj]" id="fichaCadastroCPF" value="<?php echo $cpf_cnpj; ?>"
                                        class="form-control" autocomplete="off" maxlength="14" onkeydown="fMasc( this, mCPF );" onChange="ValidaCPF()"></div>
                            </div>

                            <p class="help-block before-field">Documento de Identidade</p>

                            <div class="col-md-3 p-l-0">
                                <div class="form-group text-field ">
                                    <label for="Form-field-FichaCadastro-nome">Número </label>
                                    <input type="text" name="FichaCadastro[numero_identidade]" id="Form-field-FichaCadastro-nome" value="<?php echo $numero_identidade; ?>"
                                        class="form-control" autocomplete="off" maxlength="255"></div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group text-field">
                                    <label for="Form-field-FichaCadastro-nome">Tipo </label>
                                    <input type="text" name="FichaCadastro[tipo_identidade]" id="Form-field-FichaCadastro-nome" value="<?php echo $tipo_identidade; ?>"
                                        class="form-control" autocomplete="off" maxlength="255"></div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group text-field ">
                                    <label for="Form-field-FichaCadastro-nome">Orgão Expedidor </label>
                                    <input type="text" name="FichaCadastro[orgao_expedidor]" id="Form-field-FichaCadastro-nome" value="<?php echo $orgao_expedidor; ?>"
                                        class="form-control" autocomplete="off" maxlength="255"></div>
                            </div>

                            <p class="help-block before-field">Endereço</p>

                            <div class="col-md-3 p-l-0">
                                <div class="form-group text-field ">
                                    <label for="Form-field-FichaCadastro-nome">CEP </label>
                                    <input type="text" name="FichaCadastro[cep]" id="Form-field-FichaCadastro-nome" value="<?php echo $cep; ?>"
                                        class="form-control" autocomplete="off" maxlength="10" onkeydown="fMasc( this, mCEP );"></div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group text-field">
                                    <label for="Form-field-FichaCadastro-nome">Rua </label>
                                    <input type="text" name="FichaCadastro[rua]" id="Form-field-FichaCadastro-nome" value="<?php echo $rua; ?>"
                                        class="form-control" autocomplete="off" maxlength="255"></div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group text-field ">
                                    <label for="Form-field-FichaCadastro-nome">Número </label>
                                    <input type="text" name="FichaCadastro[numero]" id="Form-field-FichaCadastro-nome" value="<?php echo $numero; ?>"
                                        class="form-control" autocomplete="off" maxlength="255"></div>
                            </div>
                            <div class="col-md-3 p-r-0">
                                <div class="form-group text-field">
                                    <label for="Form-field-FichaCadastro-cpf_cnpj">Complemento </label>
                                    <input type="text" name="FichaCadastro[complemento]" id="Form-field-FichaCadastro-cpf_cnpj" value="<?php echo $complemento; ?>"
                                        class="form-control" autocomplete="off" maxlength="255"></div>
                            </div>
                            <div class="col-md-3 p-l-0">
                                <div class="form-group text-field ">
                                    <label for="Form-field-FichaCadastro-nome">Bairro </label>
                                    <input type="text" name="FichaCadastro[bairro]" id="Form-field-FichaCadastro-nome" value="<?php echo $bairro; ?>"
                                        class="form-control" autocomplete="off" maxlength="255"></div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group text-field">
                                    <label for="Form-field-FichaCadastro-nome">Cidade </label>
                                    <input type="text" name="FichaCadastro[cidade]" id="Form-field-FichaCadastro-nome" value="<?php echo $cidade; ?>"
                                        class="form-control" autocomplete="off" maxlength="255"></div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group text-field">
                                    <label for="Form-field-FichaCadastro-nome">Estado </label>
                                    <select id="Form-field-FichaCadastro-uf" name="FichaCadastro[uf]" class="form-control custom-select select2-hidden-accessible" data-disposable="data-disposable" tabindex="-1" aria-hidden="true">
                                        <option selected="selected" value=""></option>
                                        <?php foreach ($estados as $estado): ?>
                                        <option value="<?php echo $estado[0]; ?>" <?php echo ($estado[0] == $uf) ? "selected" : "" ; ?> > <?php echo $estado[1]; ?> </option>
                                        <?php endforeach ?>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 p-r-0">
                                <div class="form-group text-field">
                                    <label for="Form-field-FichaCadastro-cpf_cnpj">País </label>
                                    <input type="text" name="FichaCadastro[pais]" id="Form-field-FichaCadastro-cpf_cnpj" value="<?php echo $pais; ?>"
                                        class="form-control" autocomplete="off" maxlength="255"></div>
                            </div>
                            <div class="col-md-6 p-l-0">
                                <div class="form-group text-field">
                                    <label for="Form-field-FichaCadastro-cpf_cnpj">Último Destino (Cidade, País) </label>
                                    <input type="text" name="Reserva[ultimo_destino]" id="Form-field-FichaCadastro-cpf_cnpj" value="<?php echo $ultimo_destino; ?>"
                                        class="form-control" autocomplete="off" maxlength="255"></div>
                            </div>
                            <div class="col-md-6 p-r-0">
                                <div class="form-group text-field">
                                    <label for="Form-field-FichaCadastro-cpf_cnpj">Próximo Destino (Cidade, País) </label>
                                    <input type="text" name="Reserva[prox_destino]" id="Form-field-FichaCadastro-cpf_cnpj" value="<?php echo $prox_destino; ?>"
                                        class="form-control" autocomplete="off" maxlength="255"></div>
                            </div>
                            <div class="col-md-3 p-l-0">
                                <div class="form-group text-field">
                                    <label for="Form-field-FichaCadastro-nome">Celular </label>
                                    <input type="text" name="FichaCadastro[celular]" id="Form-field-FichaCadastro-nome" value="<?php echo $celular; ?>"
                                        class="form-control" autocomplete="off" maxlength="15" onkeydown="fMasc( this, mPhone );"></div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group text-field">
                                    <label for="Form-field-FichaCadastro-nome">Email </label>
                                    <input type="text" name="FichaCadastro[email]" id="Form-field-FichaCadastro-nome" value="<?php echo $email; ?>"
                                        class="form-control" autocomplete="off" maxlength="255"></div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group text-field " data-field-name="nome">
                                    <label for="Form-field-FichaCadastro-nome">Motivo da Viagem </label>
                                    <select name="Reserva[motivo_viagem]" class="form-control custom-select select2-hidden-accessible">
                                        <option value=""></option>
                                        <?php foreach ($motivo_viagem_options as $motivo): ?>
                                        <option value="<?php echo $motivo; ?>" <?php echo ($motivo == $motivo_viagem) ? "selected" : "" ; ?> > <?php echo $motivo; ?> </option>
                                        <?php endforeach ?>
                                    </select>
                                    </div>
                            </div>
                            <div class="col-md-3 p-r-0">
                                <div class="form-group text-field" data-field-name="cpf_cnpj">
                                    <label for="Form-field-FichaCadastro-cpf_cnpj">Meio de Transporte </label>
                                    <select name="Reserva[meio_transporte]" class="form-control custom-select select2-hidden-accessible">
                                        <option value=""></option>
                                        <?php foreach ($meio_transporte_options as $transporte): ?>
                                        <option value="<?php echo $transporte; ?>" <?php echo ($transporte == $meio_transporte) ? "selected" : "" ; ?> > <?php echo $transporte; ?> </option>
                                        <?php endforeach ?>
                                    </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button type="submit" data-hotkey="ctrl+enter, cmd+enter"
                data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>"
                class="btn btn-primary" data-disposable="">
                    Salvar </button>
                <button type="button" data-request-data="close:1" class="btn btn-default"
                    onClick="window.location.assign('<?= Backend::url('october/hos/reservas/update/' . $this->params[0]) ?>')">
                    Voltar</button>
            </div>
        </div>
    </form>
</div>

<script> 
    $( document ).ready(function() {
        $('.token').val($('meta[name=csrf-token]').attr('content'));
    });
    function markRadio(id) {
        var radio = document.getElementById('list-radio-' + id);
        radio.checked = true;
    }

    function ValidaCPF() {
            var fichaCadastroCPF = document.getElementById("fichaCadastroCPF").value;
            var cpfValido = /^(([0-9]{3}.[0-9]{3}.[0-9]{3}-[0-9]{2})|([0-9]{11}))$/;
            if (cpfValido.test(fichaCadastroCPF) == true) {
                if (!isValidCPF(fichaCadastroCPF)) {
                    alert("CPF Inválido");
                    document.getElementById("fichaCadastroCPF").value = '';
                }
            } else {
                alert("CPF Inválido");
            }
        }
        function fMasc(objeto, mascara) {
            obj = objeto
            masc = mascara
            setTimeout("fMascEx()", 1)
        }

        function fMascEx() {
            obj.value = masc(obj.value)
        }

        function mCPF(cpf) {
            cpf = cpf.replace(/\D/g, "")
            cpf = cpf.replace(/(\d{3})(\d)/, "$1.$2")
            cpf = cpf.replace(/(\d{3})(\d)/, "$1.$2")
            cpf = cpf.replace(/(\d{3})(\d{1,2})$/, "$1-$2")
            return cpf
        }

        function mCEP(cep) {
            cep = cep.replace(/\D/g, "")
            cep = cep.replace(/(\d{2})(\d)/, "$1.$2")
            cep = cep.replace(/(\d{3})(\d)/, "$1-$2")
            return cep
        }

        function mPhone(phone) {
            phone = phone.replace(/\D/g, "")
            phone = phone.replace(/(\d{2})(\d)/, "($1) $2")
            phone = phone.replace(/(\d{4})(\d)/, "$1$2-")
            return phone
        }

        function isValidCPF(c) {

                if ((c = c.replace(/[^\d]/g, "")).length != 11)
                    return false

                if (c == "00000000000")
                    return false;

                var r;
                var s = 0;

                for (i = 1; i <= 9; i++)
                    s = s + parseInt(c[i - 1]) * (11 - i);

                r = (s * 10) % 11;

                if ((r == 10) || (r == 11))
                    r = 0;

                if (r != parseInt(c[9]))
                    return false;

                s = 0;

                for (i = 1; i <= 10; i++)
                    s = s + parseInt(c[i - 1]) * (12 - i);

                r = (s * 10) % 11;

                if ((r == 10) || (r == 11))
                    r = 0;

                if (r != parseInt(c[10]))
                    return false;

                return true;
            }
</script>