<div class="layout-row">
    <form method="POST" action="" accept-charset="UTF-8" class="layout">
        <input name="_token" type="hidden" class="token" value="">
        <div class="layout-row">
            <div data-control="formwidget" data-refresh-handler="form::onRefresh"
                class="form-widget form-elements layout" role="form" id="Form" data-disposable="">
                <!-- Primary Tabs -->
                <div class="layout-row">

                    <div id="Form-primaryTabs" class="control-tabs primary-tabs layout has-tabs" data-control="tab"
                        data-slidable="">
                        <div class="layout-row min-size">
                            <ul class="nav nav-tabs" data-disposable="">
                                <li class="active">
                                    <a href="#primarytab-1" data-target="#tabs14532-tab-01595380330987"
                                        data-toggle="tab" title="Geral"><span class="title"><span>Consultar
                                                Hospedagem</span></span></a>
                                    <span class="tab-close"><i>×</i></span></li>
                            </ul>
                        </div>

                        <div class="tab-content layout-row">
                            <div class="tab-pane  active layout-cell" id="tabs14532-tab-01595380330987">
                                <div class="form-group  widget-field span-left" data-field-name="saida"
                                id="Form-field-Reserva-saida-group">
                                <label for="Form-field-Reserva-saida"> Período </label>

                                <div id="DatePicker-formSaida-saida" class="field-datepicker"
                                    data-control="datepicker" data-show-week-number="" data-disposable="">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <!-- Date -->
                                            <div class="input-with-icon right-align">
                                                <i class="icon icon-calendar-o"></i>
                                                <input type="text" name="entrada" id="DatePicker-formEntrada-date-entrada"
                                                    class="form-control align-right" autocomplete="off"
                                                    data-datepicker="" value="2020-08-08">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <!-- Date -->
                                            <div class="input-with-icon right-align">
                                                <i class="icon icon-calendar-o"></i>
                                                <input type="text" name="saida" id="DatePicker-formSaida-date-saida"
                                                    class="form-control align-right" autocomplete="off"
                                                    data-datepicker="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button type="submit" data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="Salvando..." class="btn btn-primary" data-disposable="">
                    Consultar </button>
                <button type="button" data-request-data="close:1"
                    data-hotkey="ctrl+enter, cmd+enter" data-load-indicator="Salvando..." class="btn btn-default"
                    data-disposable="" onClick="window.location.assign('<?= Backend::url('october/hos/reservas') ?>')">
                    Voltar</button>
            </div>
        </div>
    </form>
<br><br>

<?php if(empty($disponiveis) && !empty($data_entrada)): ?>
    <h3>Não existem quartos disponíveis para o período de <?= Backend::dateTime($data_entrada, ['formatAlias' => 'dateLong']) ?> à <?= Backend::dateTime($data_saida, ['formatAlias' => 'dateLong']) ?>.</h3>
<?php elseif(!empty($disponiveis)): ?>
<form method="POST" action="<?= Backend::url('october/hos/reservas/create') ?>" accept-charset="UTF-8" class="layout">
    <input name="_token" type="hidden" class="token" value="">
    <table class="table data" data-control="rowlink">
            <thead>
                <tr>
                    <th class="list-checkbox"></th>
        
                    <th class="list-cell-name-nome list-cell-type-text ">
                        <a>Quarto</a>
                    </th>
                    <th class="list-cell-name-tipo_acomodacao list-cell-type-text ">
                        <a>Valor</a>
                    </th>
                    <th class="list-cell-name-status list-cell-type-status_acomodacao ">
                        <a>Entrada</a>
                    </th>
                    <th class="list-cell-name-status list-cell-type-status_acomodacao ">
                        <a>Saída</a>
                    </th>
                    <th class="list-setup">
                        <adata-control="popup"
                            data-handler="list::onLoadSetup"></a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($disponiveis as $disponivel): ?>
                    <tr class="rowlink">
                        <td class="list-checkbox nolink">
                            <div class="checkbox custom-checkbox nolabel">
                                <input type="radio" name="radio" class="radio" id="list-radio-<?php echo $disponivel['quarto_id']; ?>" value="<?php echo $disponivel['quarto_id']; ?>">
                                <label for="Lists-checkbox-4">Marcar</label>
                            </div>
                        </td>
                        <td class="list-cell-index-1" onclick="markRadio(<?php echo $disponivel['quarto_id']; ?>)"><?php echo $disponivel['quarto']; ?></td>
                        <td class="list-cell-index-2" onclick="markRadio(<?php echo $disponivel['quarto_id']; ?>)">
                            <span onclick="window.open('<?= Backend::url('october/hos/tiposacomodacao/update/'.$disponivel['tipo_acomodacao_id']) ?>', '_blank')">
                            <?php if (empty($disponivel['valor'])): ?>
                                Cadastrar Valor
                            <?php else: ?>
                                R$ <?php echo number_format($disponivel['valor'], 2, ',', '.'); ?>
                                 - Ajustar Valor
                            <?php endif ?>
                            </span>
                        </td>
                        <td class="list-cell-index-3" onclick="markRadio(<?php echo $disponivel['quarto_id']; ?>)"> <?php echo $entrada; ?> </td>
                        <td class="list-cell-index-4" onclick="markRadio(<?php echo $disponivel['quarto_id']; ?>)"> <?php echo $saida; ?> </td>
                    </tr>
                <?php endforeach ?>
            </tbody>
        </table>

        <input name="data_entrada" type="hidden" value="<?php echo $data_entrada; ?>">
        <input name="data_saida" type="hidden" value="<?php echo $data_saida; ?>">

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button type="submit" data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="Salvando..." class="btn btn-primary" data-disposable="">
                    Gerar Reserva </button>
            </div>
        </div>
    </form>

<?php endif; ?>
    
</div>

<script> 
    $( document ).ready(function() {
        $('.token').val($('meta[name=csrf-token]').attr('content'));
    });
    function markRadio(id) {
        var radio = document.getElementById('list-radio-' + id);
        radio.checked = true;
    }
</script>